################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Selenium/.vs/Selenium/v15
/Selenium/packages
/Selenium/packages
/Selenium/Selenium3Refit/bin/Debug
/Selenium/Selenium3Refit/bin/Release
/Selenium/Selenium3Refit/obj/Debug
/Selenium/Selenium3Refit/obj/Release
/Selenium/Selenium3/bin/Debug
/Selenium/Selenium3/bin/Release
/Selenium/Selenium3/obj/Debug
/Selenium/Selenium3/obj/Release
/Selenium/Selenium/bin/Debug
/Selenium/Selenium/bin/Release
/Selenium/Selenium/obj/Debug
/Selenium/Selenium/obj/Release
